# Gmail Account. Example: your-username@gmail.com
GOOGLE_EMAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Obsidian Vault path.
MDBASE_COLLECTION_ROOT=
# Timezone ID. Example: Europe/London
TZID=
# Comma separated lat,lng. Example: 34.51745881176179,-83.95211949571164
COORDS=