# Gmail Account. Example: your-username@gmail.com
GOOGLE_EMAIL=
# Google Credentials. https://console.cloud.google.com/auth/clients?project=<YOUR_PROJECT>
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Obsidian Vault dir.
MDBASE_COLLECTION_ROOT=
# Timezone ID. Example: Europe/London
TZID=
# Comma separated lat,lng. Example: 34.51745881176179,-83.95211949571164
COORDS=
# URL for Webhooks. Example: http://localhost:3000/api/pets/<YOUR_PET_ID>/track
WEBHOOK_URL=
# Access token sent as Bearer
WEBHOOK_ACCESS_TOKEN=